{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gallery edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}

    <ul id="email-fields-list"
        data-prototype="{{ form_widget(edit_form.images.vars.prototype)|e }}">
        {% for gimages in edit_form.images %}
            <li>
                {{ form_errors(gimages) }}
                {{ form_widget(gimages) }}
            </li>
        {% endfor %}
    </ul>

    <a href="#" id="add-another-email">Add another email</a>


        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('gallery_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>


    <script type="text/javascript">
        // keep track of how many email fields have been rendered
        var emailCount = '{{ edit_form.images|length }}';

        jQuery(document).ready(function() {
            jQuery('#add-another-email').click(function(e) {
                e.preventDefault();

                var emailList = jQuery('#email-fields-list');

                // grab the prototype template
                var newWidget = emailList.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, emailCount);
                emailCount++;

                // create a new list element and add it to the list
                var newLi = jQuery('<li></li>').html(newWidget);
                newLi.appendTo(emailList);
            });
        })
    </script>
{% endblock %}
